/* Command Palette */
.quick-input-widget {
  top: 30% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
  padding: 1px 1px 1px 1px !important;
  background-image: linear-gradient(#ddd6c3 0%, #ddd6c3 100%) !important;
  border-radius: 10px !important;
}

/* Hide title bar */
.titlebar-center .window-title .command-center {
  display: none !important;
}

